body {

}


.App {
 
  text-align: center;
  width: 400px;
  height: 100vh;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  
 
}



h1{
  color: white;
  
}

.wheel {
  width: 200px;
  height: 200px;
  background-image: url(../src/img/kolo.PNG);
  background-position: center;
  border-radius: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  
  

}

.rotate {
  transform: rotate(0);
  background-color: aqua;
  animation: wheelAnimation 5s 0.3s ease;
  
}

@keyframes wheelAnimation {
  0%{
 
  
    transform: rotate(0deg);
    

  }

  100%{
    
    transform: rotate(360deg);
   
  }
  
}


